*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    min-height: 90vh;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    

}

.box {
    border: 1px solid #000;
    width: 48%;
    height: inherit;
}
